@charset "UTF-8";
@media only screen and (max-width: 480px) {
  body {
    min-width: 375px;
  }
}

@media only screen and (max-width: 480px) {
  #wrapper {
    overflow: hidden;
    /*はみ出た部分を非表示*/
  }
}

/*ヘッダーここから*/
.header {
  z-index: 9999;
  position: fixed;
  background-color: white;
  height: 120px;
  width: 100%;
}

@media only screen and (max-width: 960px) {
  .header {
    width: 100vw;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    height: 50px;
  }
}

@media only screen and (max-width: 960px) {
  .container1 {
    display: none;
  }
}

.menu {
  margin-top: -80px;
  background-color: rgba(0, 0, 0, 0);
  color: darkgray;
}

.btn {
  height: 40px;
}

.header-logo {
  text-align: center;
  font-size: 35px;
  color: darkgray;
  margin: auto;
  padding: 35px;
  font-family: Gill Sans;
  letter-spacing: 0.05em;
}

@media only screen and (max-width: 480px) {
  .header-logo {
    text-align: center;
    font-size: 20px;
    margin: auto;
    padding: 20px;
  }
}

/*ハンバーガーメニュー*/
/*ハンバーガーメニュー終わり*/
/*ヘッダー終わり*/
/*ファーストビュー*/
.bg {
  height: 600px;
  background: url(../img/first%20view.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

@media only screen and (max-width: 480px) {
  .bg {
    height: 300px;
  }
}

@media only screen and (max-width: 480px) and (max-width: 1280px) {
  .bg {
    width: 100vw;
  }
}

.profile1 {
  font-size: 50px;
  font-family: Gill Sans;
  letter-spacing: 0.05em;
  position: absolute;
  top: 200px;
  left: 150px;
  color: white;
}

@media only screen and (max-width: 480px) {
  .profile1 {
    top: 80px;
    left: 50px;
    color: white;
    font-size: 20px;
  }
}

.profile2 {
  font-size: 30px;
  line-height: 33px;
  font-family: Gill Sans;
  letter-spacing: 0.05em;
  position: absolute;
  top: 280px;
  right: 150px;
  color: white;
}

@media only screen and (max-width: 480px) {
  .profile2 {
    top: 150px;
    right: 50px;
    font-size: 20px;
    line-height: 25px;
  }
}

/*趣味*/
.container {
  font-family: Gill Sans;
  width: 100%;
}

.main1-comment {
  font-size: 30px;
  font-family: Gill Sans;
  letter-spacing: 0.05em;
  color: white;
  background-color: darkgray;
  text-align: center;
  padding: 10px;
  margin: 40px auto;
  width: 400px;
}

@media only screen and (max-width: 480px) {
  .main1-comment {
    font-size: 20px;
    width: 50vw;
    margin: 10px auto;
    padding: 3px;
  }
}

.main1-comment2 {
  font-size: 30px;
  font-family: Gill Sans;
  letter-spacing: 0.05em;
  color: darkgray;
  text-align: center;
  padding: 20px;
}

@media only screen and (max-width: 480px) {
  .main1-comment2 {
    font-size: 20px;
    padding: 10px;
  }
}

.box {
  width: 80%;
  margin: 30px auto;
  /*親につける*/
  justify-content: space-around;
}

img {
  display: block;
  height: 100%;
  width: 80%;
  margin: auto;
  animation: fadeIn 3s ease;
}

img:hover {
  opacity: 0.5;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /*不透明度*/
  }
  100% {
    opacity: 1;
  }
}

/*目標*/
.main2 {
  background-color: lightgray;
  display: flex;
  /* align-items: baseline; */
  flex-direction: column;
}

@media only screen and (max-width: 480px) {
  .main2 {
    margin: auto;
  }
}

.main2-comment {
  width: 50%;
  margin: auto;
}

.main2-comment li {
  font-size: 20px;
  font-family: HiraKakuProN-W6;
  letter-spacing: 0.05em;
  padding: 10px;
  color: white;
}

.main2-comment li:nth-child(1) {
  margin-top: 20px;
}

@media only screen and (max-width: 480px) {
  .main2-comment li:nth-child(1) {
    margin-top: 20px;
  }
}

.main2-comment li:last-child {
  margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
  .main2-comment li {
    font-size: 10px;
    line-height: 12px;
    text-align: left;
    padding: 5px;
  }
}

/*目標終わり*/
/*お問い合わせ*/
.contact {
  margin: auto;
  width: 50%;
  padding: 30px 50px;
  /* →二つ数字を入れたらタテヨコ   */
  /* 四つ数字を入れたら上、右、下、左の順番*/
  font-size: 15px;
  font-family: HiraKakuProN-W3;
  letter-spacing: 0.05em;
}

@media only screen and (max-width: 960px) {
  .contact {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .contact {
    width: 250px;
    padding: 10px 0px;
    font-size: 10px;
    margin: auto;
  }
}

.label {
  width: 120px;
  font-size: 15px;
  color: darkgray;
}

@media only screen and (max-width: 480px) {
  .label {
    width: 100px;
    font-size: 10px;
    margin-right: 0px;
    color: darkgray;
  }
}

.input-field {
  height: 20px;
  width: 120px;
  line-height: 20px;
}

@media only screen and (max-width: 480px) {
  .input-field {
    height: 20px;
    width: 120px;
    line-height: 10px;
    border: solid 1px darkgray;
    box-sizing: border-box;
  }
}

.mail {
  width: 200px;
}

.form-group {
  display: flex;
  margin: 30px 30px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 480px) {
  .form-group {
    display: flex;
    margin: 10px 10px;
    height: 30px;
    align-items: center;
  }
}

.button {
  font-size: 15px;
  line-height: 20px;
  font-family: HiraKakuProN-W3;
  letter-spacing: 0.05em;
  background-color: white;
  color: darkgray;
  width: 120px;
  border: solid 1px darkgray;
  margin: auto;
  /*margin-left: 200px; スリック前*/
}

@media only screen and (max-width: 480px) {
  .button {
    font-size: 10px;
    line-height: 10px;
    font-family: HiraKakuProN-W3;
    letter-spacing: 0.05em;
    width: 100px;
    border: solid 1px darkgray;
    box-sizing: border-box;
    margin-left: 100px;
  }
}

/*お問い合わせ終わり*/
/*フッター*/
footer {
  font-size: 15px;
  font-family: Gill Sans;
  letter-spacing: 0.05em;
  background-color: darkgray;
  color: white;
  text-align: center;
  padding: 20px;
}

@media only screen and (max-width: 480px) {
  footer {
    padding: 5px;
    font-size: 5px;
  }
}

/*フッター終わり*/
